.h2-createTodo {
  margin-bottom: 10px;
  color: rgba(240, 240, 240, 1);
  margin-top: 55px;
}

.main-create-box {
  font-family: 'Montserrat';
  margin: 20px;
}

.h1-createTodo {
  color: rgba(240, 240, 240, 1);
}


@media all and (max-width: 1050px) {
  .main-create-box {
    width: 45%;
  }
}

@media all and (max-width: 760px) {
  .main-create-box {
    width: 75%;
  }
}

@media all and (max-width: 450px) {
  .main-create-box {
    width: 90%;
  }
}

.create-input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  font-size: 1.2em;
  border: none;
  outline: none;
  box-shadow: 0 0 20px -5px grey;
  background: rgba(252, 251, 250, 0.7);
  text-indent: 10px;
}

.create-input:hover {
  background: hsla(45, 40%, 98%);
  box-shadow: 0 0 30px -5px rgb(112, 135, 236);
}


.create-img-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.create-img {
  width: 50%;
}

.buttons-box {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 10px auto;
}

.modalButton {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  height: 25px;
  width: 85px;
}

.modalButton:hover {
  background: hsl(234, 76%, 65%);
  color:  hsl(45, 40%, 98%);
}