.h2-createTodo {
  margin-bottom: 10px;
  margin-top: 55px;
}

.create-component {
  margin-top: -15px;
}

.create-input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  font-size: 1.2em;
  border: none;
  outline: none;
  box-shadow: 0 0 20px -5px grey;
  background: hsla(45, 40%, 98%);
}

.create-input:hover {
  box-shadow: 0 0 30px -5px rgb(112, 135, 236);
}

.create-button {
  background: none;
  border: none;
  font-size: 45px;
  color: #fff;
}


.create-button-box {
  display: flex;  
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
  width: 70px;
  height: 70px;
  box-shadow: 0 0 20px -1px grey;
  border-radius: 50%;
  background: hsl(234, 76%, 65%);
}

.create-button-box:hover {
  background: hsl(234, 76%, 65%, 0.7);
  box-shadow: 0 0 20px -7px grey;
}

@keyframes mymove {
  
  from {background: hsl(234, 76%, 65%);}
  to {background: hsl(234, 76%, 65%, 0.7);}
  /* to {background: hsl(234, 76%, 65%);} */

  
}

.create-img-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.create-img {
  width: 50%;
}
